<div class="container app"> 
<!-- 22mns -->
  <div class="row"> 
    <div class="col-sm-8"> 
      <h1 class="text-center"> 
        {{title}} 
      </h1>
    </div> 

    <div class="col-sm-4"> 
      <div class="alert alert-success alert-dismissable *ngIf='mensaje"> 
        <a class="close" href="#" (click)="closeAlert()"> 
          @times
        </a> 
        {{message}}
      </div> 
    </div>
  </div> 

  <div> 
    <div class="row"> 
      <img class="w-25" src="https://i.pinimg.com/564x/3e/af/e9/3eafe986b6db1a773f240dc467dd68b3.jpg" alt="foto">
    </div> 
    
    <div class="col-sm-8"> 
      <h2>Create Data: </h2> 
      <form action="" class="form-horizontal"> 
          <div class="form-group"> 
            <label for="name">Name </label>
            <div class="col-sm-10"> 
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter a new Name" [(ngModel)]="model.name">
            </div>
          </div> 

          <div class="form-group"> 
            <label for="position">Position </label>
            <div class="col-sm-10"> 
              <input type="text" class="form-control" id="position" name="position" placeholder="Enter a new Position" [(ngModel)]="model.position">
            </div>
          </div> 

          <div class="form-group"> 
            <label for="email">Email </label>
            <div class="col-sm-10"> 
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter a new email" [(ngModel)]="model.email">
            </div>
          </div> 

          <div class="form-group m-2"> 
            <div class="col-sm-10 col-sm-offset-2"> 
              <button type="submit" class="btn btn-success" (click)='addEmployee()'> Save </button>
            </div>
          </div>
      </form>
    </div>
  </div> 
  <div class="row"> 
    <div class="col-sm-8"> 
      <h2>Read Data</h2> 
      <table class="table table-bordered"> 
        <thead> 
          <tr> 
            <th>Name</th> 
            <th>Position</th> 
            <th>Email</th> 
            <th>Action</th> 
          </tr>
        </thead> 
        <tbody> 
          <tr *ngFor="let employee of employees; let i = index"> 
            <td>{{employee.name}}</td> 
            <td>{{employee.position}}</td> 
            <td>{{employee.email}}</td> 
            <td class="m-2"> 
              <a (click) = "editEmployee(i)" class="btn btn-success">Edit</a> 
              <a (click) = 'deleteEmployee(i)' class="btn btn-danger">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
    <div class="col-sm-8"> 

    </div> 

    <div class="col-sm-4" [hidden]='hideUpdate'> 
      <h2>UpDate Data: </h2> 
      <form action="" class="form-horizontal"> 
          <div class="form-group"> 
            <label for="name">Name </label>
            <div class="col-sm-10"> 
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter a new Name" [(ngModel)]="model2.name">
            </div>
          </div> 

          <div class="form-group"> 
            <label for="position">Position </label>
            <div class="col-sm-10"> 
              <input type="text" class="form-control" id="position" name="position" placeholder="Enter a new Position" [(ngModel)]="model2.position">
            </div>
          </div> 

          <div class="form-group"> 
            <label for="email">Email </label>
            <div class="col-sm-10"> 
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter a new email" [(ngModel)]="model2.email">
            </div>
          </div> 

          <div class="form-group m-2"> 
            <div class="col-sm-10 col-sm-offset-2"> 
              <button type="submit" class="btn btn-success" (click)='upDateEmployee()'> Save </button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>